/**
 * @name NewerOldCord
 * @author @milbit, @Cyn
 * @Description Updates OldCord with a classic Discord layout and modern visuals
 * @source https://github.com/FrCynda/NewerOldCord
 * @version 1.0
 */


@import url("https://milbits.github.io/oldcord/src/components/redesign.css");
@import url("https://milbits.github.io/oldcord/src/components/vars.css");


.theme-dark:not(html.custom-theme-background, :has(#clientThemeVars)) {
	--background-base-low: #232428;
	--background-base-lower: #313338;
	--background-base-lowest: #2b2d31;
	--bg-base-tertiary: #1e1f22;
	--custom-channel-members-bg: #2b2d31;
	--background-mod-subtle: #2b2d31;
	--bg-brand: #5867ea ;	
	--button-filled-brand-background: #5867ea ;
	--header-secondary: #b9bbbe;
	--channels-default: #8e9297;
	--interactive-hover: #dcddde;
	--background-floating: #18191c;
	--background-modifier-hover: #4f545c29;
	--background-modifier-active: #4f545c3d;
	--background-modifier-selected: #4f545c52;
	--background-modifier-accent: #ffffff0f;
	--background-message-hover: #2e3034;
	--scrollbar-thin-thumb: #202225;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #1a1b1e;
	--scrollbar-auto-track: #2b2d31;
	--scrollbar-auto-scrollbar-color-thumb: #202225;
	--scrollbar-auto-scrollbar-color-track: #2f3136;
	--elevation-stroke: 0 0 0 1px #04040526;
	--elevation-low: 0 1px 0 #04040533, 0 1.5px 0 #0606070d, 0 2px 0 #0404050d;
	--elevation-medium: 0 4px 4px #00000029;
	--elevation-high: 0 8px 16px #0000003d;
	--deprecated-card-editable-bg: #2022254d;
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: #ffffff4d;
	--deprecated-text-input-bg: #0000001a;
	--deprecated-text-input-border: #0000004d;
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--button-secondary-background: #4f545c;
	--button-secondary-background-hover: #72767d;
	--button-secondary-background-active: #72767d;
	--primary-transparent: #ffffff1a;
	--search-popout-option-non-text-color: #caccce;
	--search-popout-option-filter-color: #caccce;
	--search-popout-option-answer-color: #caccce;
	--search-popout-date-picker-hint-text: #caccce;
	--search-popout-date-picker-hint-value-text: #ffffff;
}

body {
	--text-muted: #72767d;
	--font-primary: gg sans;
	--font-display: gg sans !important;
	--font-headline: gg sans;
	--blurple: #5867ea;
	--blurple-inverted: #ffffff;
	--text-brand: var(--blurple) ;
	--bg-brand: var(--blurple) ;
	--brand-260: var(--blurple) ;
	--brand-360: var(--blurple) ;
	--brand-460: var(--blurple) ;
	--brand-500: var(--blurple) ;
	--brand-new-500: var(--blurple) ;
	--brand-530: var(--blurple) ;
	--brand-560: var(--blurple) ;
	--brand-new-560: var(--blurple) ;
	--brand-600: var(--blurple) ;
	--yellow-hover: #e19517;
	--yellow-inverted: #fffbf4;
	--yellow-inverted-active: #feedd1;
	--green-inverted: #f6fbf9;
	--green-inverted-active: #d9f0e6;
}

/** Fonts */
@font-face {
    font-family: "gg sans";
    font-weight: 300;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsans.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsans.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    font-style: italic;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsansitalic.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    font-weight: 500;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsansmedium.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    font-weight: 600;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsanssemibold.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    font-weight: 700;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsansbold.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    font-weight: 700;
    font-style: italic;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsansbolditalic.woff2) format("woff2");
}

	.radioBar__001a7 .radioIndicatorGroup__001a7:before {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 28 28'%3E%3Cpath d='M3 0C1.34326 0 0 1.34277 0 3V21C0 22.6572 1.34326 24 3 24H21C22.6567 24 24 22.6572 24 21V3C24 1.34277 22.6567 0 21 0H3ZM3 1C1.89551 1 1 1.89551 1 3V21C1 22.1045 1.89551 23 3 23H21C22.1045 23 23 22.1045 23 21V3C23 1.89551 22.1045 1 21 1H3Z' stroke='' stroke-width='' fill='%2372767d' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E");
		position: relative
	}

	/* chat box */
	.scrollerSpacer__36d07 {
		height: 30px;
	}
	.themedBackground__74017 {
		background: none
	}
	.formWithLoadedChatInput_f75fb0 {
		.channelTextArea_f75fb0 {
		    background: var(--background-primary) !important;
		}
	}
	.channelTextArea__74017 {
		border: unset;
		border-radius: 4px;
	}
	.separator__49fc1 {
		box-shadow: 0 1px 0 0 hsl(240 calc( 1 *5.263%) 7.451% /.3), 0 1px 2px 0 hsl(240 calc( 1 *5.263%) 7.451% /.3);
	}
	.header__49fc1 {
		padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
	}
	.autocompleteAttached__6b0e0 {
		left: 0;
		right: 0;
	}
	.cooldownText_b21699 {
		color: var(--font-primary) !important;
	}
	.base_b88801 {
	    left: 16px;
	    font-size: 14px;
	    font-weight: 500;
	    line-height: 24px;
	    resize: none;
	    align-items: center;
	    color: var(--text-normal);
	}

	/* jump to present bar */
	.jumpToPresentBar__0f481 {
		bottom: 0;
	    border-radius: 8px 8px 0 0;
	    background-color: var(--background-accent);
	    opacity: .95 !important;
	    padding-bottom: 4px !important;
		color: var(--white-500);
		.barButtonBase__0f481 {
			padding-left: unset;
			padding: 0 12px;
		}
		.button__201d5 {
			flex: 0 0 auto;
			font-weight: 600;
			position: relative;
			background: unset;
			padding-bottom: 6px;
			&:hover {
				background-color: unset !important;
			}
			.contents__201d5:after {
				content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 16'%3E%3Cpath d='M7 10L12 15 17 10'%3E%3C/path%3E%3C/svg%3E");
				margin-left: 8px;
			}
		}
	}


/* Makes "add a server and discover icons green */

.circleIcon__5bc7e {
    color: var(--green);
}


/* removes padding on guild (clan) tags next to usernames */
.text-xs\/semibold_cf4812 {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--interactive-normal);
}

/* Removes the sidebar when fullscreened in a livestream */
.sidebar_c48ade.hidden_c48ade {
    position: absolute !important;
}

/* Fixes Forum colors (WIP) */
.visual-refresh .mainCard_f369db {
    background: var(--bg-overlay-4, #393c41);
    border: 1px solid var(--border-subtle);
}
.visual-refresh .container_faa96b.isOpen_faa96b {
    background-color: #393c41 ;
}
.visual-refresh .container_faa96b:hover {
    background-color: #393c41; 
}


/* Fixes "new channel" icon colors */
.newChannel__599fa, .channelInfo_c69b6d {
    background-color: var(--blurple) !important;
	color: white;
    border-radius: var(--radius-round) !important;
}

.stack_dbd263 {
    background: unset; /* unsure if this breaks anything, remove if it does */
}

/* Fixes "SPOILER" text of spoilered images */
.obscureWarning__54ab5 {
    color: white;
}



/* Adds "Today at" to messages sent today */
:is(.timestampInline_c19a55) time[aria-label^="Today at"] {
    visibility: hidden;
}

:is(.timestampInline_c19a55) time[aria-label^="Today at"]:before {
    content: attr(aria-label);
    visibility: visible;
}

/* Removes separator between chat and channel bar */
.panels_c48ade {
    width: 241px !important;
    border: none !important;
}

/* Fixes channel bar width */
.base_c48ade .sidebar_c48ade > .sidebarList_c48ade {
    width: 240px !important;
}

/* Fixes a bunch of buttons*/
.button__201d5:not(.cta_a3a802, .colorRed__201d5) {
	border: unset;
}
.item_b3f026 {
	transition: none !important;
}
:is(.sidebar__23e6b) .selected_b3f026.item_b3f026 {
	background: var(--background-modifier-selected) !important;
}
:is(.sidebar__23e6b) .side_b3f026 .themed_b3f026.item_b3f026:hover:not(.disabled_b3f026) {
	background-color: var(--background-modifier-hover);
}
:is(.sidebar__23e6b) .selected_b3f026.item_b3f026:hover {
	color: var(--text-primary);
}
.topPill_b3f026 .item_b3f026 {
	border-radius: 4px;;
    margin: 0 8px;
    padding: 2px 8px;
    min-height: unset;
}
.searchBar__35e86 {
	border-bottom: unset;
	box-shadow: var(--elevation-low);
}

/* Fixes colors of menu overlay */
.inner_c0bea0 {
	background-color: #111214;
}
.menuOverlay_ce8328 {
    background-color: #ffffff17 !important;
}

/* removes border of messages in search bar */
.searchResult__02a39 {
    border: solid 1px rgba(255, 255, 255, 0) !important;
}

/* fixes the background color of the "Message" box at the bottom of user profiles */
.inlineContainer__74017 .themedBackground__74017 {
    background: #ffffff17 !important;
}

/* fix the coloring on the Report/Delete message button */
.colorDanger_c1e9c4.focused_c1e9c4 {
    color: var(--white);
    background-color: var(--red);
}

/* fix the coloring of the OP tag */
.botTagOP__82f07 {
  color: var(--white) !important;
  margin-top: .2em !important;
}

/* fixes "add server" and "discover" buttons */

.circleIconButton__5bc7e {
    width: 50px!important;
    height: 50px !important;
    transform: translate(0px, 6px);
}
.discoveryIcon_ef3116{
    transform: translate(0px, 9px);
}

/* background color of embedded links with rounded corners on the right side */
.grid__623de {
    background-color: #2a2c30;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* increases height of gif and emote picker */
.scrollable-container {
  max-height: 80vh; /* adjust as needed */
  overflow-y: auto;
  transition: max-height 0.3s ease;
}

.scrollable-container.expanded {
  max-height: none; /* removes vertical limit */
}
.results__2dc39 {
    height: 1000px !important;
}
.contentWrapper__08434 {
    height: 1000px !important;
	transform: translateY(-440px) !important;
}

/* pinned messages */
.header__45690 {
    background: var(--scrollbar-auto-track) !important;
}
.messagesPopout__45690 {
    background: var(--scrollbar-auto-track) !important;
}

/* removes user list left border */
.container_c8ffbb {
    border-left: none !important;
}

/* inbox tab */
.channelHeader__35a7e {
    background-color: transparent !important;
}
.resultsGroup__56fec {
    background-color: var(--scrollbar-thin-thumb) !important;
}

.scroller__2692d,
.container_a54d1d,
.Container__4a7f0,
.emptyScroller__2692d,
.emptyContainer_a54d1d,
.emptyContainer__4a7f0 {
  background-color: rgb(44, 46, 51) !important;
}


/* fix search bar */
.searchAnswer_bd8186, .searchFilter_bd8186 {
  transform: translateY(-px) !important;
  height: 20px !important;
  font-size: 1em !important;
}
.search__97492 .DraftEditor-root .public-DraftStyleDefault-block span {
  display: inline-block; /* required for transform to take effect */
  transform: translateY(-0.5px) !important;
}
/* Base reset */
.tab_ab6641,
.selected_b3f026 {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Base tab styling */
.tab_ab6641 {
  position: relative;
  overflow: visible !important;
  z-index: 0;
}

.tab_ab6641::before {
  content: "";
  position: absolute;
  top: 46px;
  left: -10px;
  right: -10px;
  height: 1px;
  background: var(--blurple);
  z-index: -1;
  opacity: 0;
}

.tab_ab6641.selected_b3f026::before {
  opacity: 1;
  transition: opacity 0.5s ease-in-out !important; /* only transition when selected */
}


/* user profile card */
.root__24502, .outer_c0bea0 {
  background-color: transparent !important;
}

/* makes server card in mentions tab non transparent */
.channelHeader__35a7e {
    background-color: var(--background-secondary) !important;

}
svg.icon__2ea32:nth-of-type(3) path:nth-of-type(2) {
  color: red;
}


/* remove black outline on right side on channel side bar */
div.sidebar_c48ade.theme-dark.images-dark {
transform: translate(1px);
}


/* fix color of Message Bar */
.scrollableContainer__74017 {
  background-color: rgba(255, 255, 255, 0.048);

}
